.customers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.customer {
    background-color:aquamarine;
    border: 2px dotted chartreuse;
    color: black;
    padding: .5rem;
    margin: .5rem;
}
.customers_header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}

.customer_footer {
    margin: 1 rem 0 0.25rem 0;
    font-style: oblique;
}